body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.5em; 
	background-color: #e2d8bd;
	background-repeat: repeat;
	background-color: #f5f5f5;
 
}
